<% if(typeof errorMessage2 !== "undefined") { %>
    <div>
        <dialog open>
            <form method="dialog"><input type="submit" value="X"></form>
           <%= errorMessage %>
        </dialog>
    </div>
<% } %>