<nav>
    <link rel="stylesheet" href="style.css">
</nav>
<div class="topnav">
    <% if(currentUser) { %> 
        <a href="/">Home</a>
        <form action="/sessions?_method=DELETE" method="POST">
            <input id="log" type="submit" value="Log Out">
        </form>
        <% } else { %> 
        <a href="/">Home</a>
        <a href="/users/new">Register</a>
        <a href="/sessions/new">Login</a>
        <% } %>
  </div>
