<meta charset="UTF-8">
<title></title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/style.css">
<body>
    
    
</body>

<style>
    img {
        align-content: center;
    }
</style>