<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs')  %>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
</head>
<body>
	<h1>Dashboard</h1>
    <h3>New Arrivals</h3>
    <p> <a href="/new"> <input class="newProduct" type="button" value="Add New Product"></a></p>
    <div class="container">
    <% for(let i = 0; i < listings.length; i++) { %>
        <a href="/<%=listings[i]._id%>/"><img class="images" src="<%= listings[i].img %>">
     <% } %>
    </div>
</body>

</html>