<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body id="indexbackground">
    <%- include("./partials/nav.ejs") %>
    <h1>Open Source Apparel</h1>
   
    <div class="shopButton"><a href="/sessions/new"><button id="button" class="glow" type="button">SEE ALL</button></a></div>

    <div class="iPhoto"> <img class="indexPhoto" src="https://media2.giphy.com/media/ywfPjAKe5qaHPJhbyW/giphy.gif?cid=ecf05e478ff1b2xhhyhld51s6deq50xa7vhyxc2v3aokjd7k&rid=giphy.gif&ct=g"></div>
</body>

<style>

</style>
</html>