<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to my shop!</h1>
    <h1>  <a href="/home/"> <input type="button" value="Add New Listing"></a></h1>
    <% for(let i = 0; i < listings.length; i++) { %>
    
        <h1><%= listings[i].name %></a></h1>
        <a href="/listings/<%=listings[i]._id%>/"> <img src="<%= listings[i].img %>"></a>
        <h2>$<%= listings[i].price %>.00</a></h2>
    
    <% } %>

</body>
</html>