@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

header {
    display: flex;
}
body {
    background: linear-gradient(to right, black, rgb(76, 26, 26), black)
}
h1 {
    text-align: center;
    align-content: center;
    color: white;
}
h2 {
    color: white;
    display: block;
    text-align: center;
}
a {
    text-align: end;
    color: white;
}
form {
    color: white;
}
label {
    color: white;
    font-size:
}
img {
    border-style: solid;
    border-color: white;
    width: 225px;
    height: 225px;
    border: thick;

}
.showImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  border-style: ridge;
  border-width: 10px;
  border-color: #000;
}
.showButtons {
    display: flex;
    justify-content: center;
}
#showBtn {
    background-color: black;
    color: white;
}
.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
}
#indexbackground {
    background-color: black;
    background: linear-gradient(to right, black, rgb(76, 26, 26), black)
}
#load {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.shopButton {
  display: flex;
  justify-content: center;
}
.glow {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow:before {
    content: '';
    background: linear-gradient(10deg, #ff0000, #ff7300, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow:active {
    color: #000
}

.glow:active:after {
    background: transparent;
}

.glow:hover:before {
    opacity: 1;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

svg {
    color: red;
}
