header {
    display: flex;
}
body {
    background-color: rgb(77, 0, 0);
}
h1 {
    text-align: center;
    align-content: center;
    color: white;
}
h2 {
    color: white;
    display: block;
    text-align: center;
}
a {
    text-align: end;
    color: white;
}
label {
    color: white;
    font-size:
}
img {
    border-style: solid;
    border-color: white;
    width: 225px;
    height: 225px;
    border: thick;

}
.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
}