<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>

<body>
	<%- include('../partials/nav.ejs')  %>
    <h1>Login with your email</h1>
	<div class="inputs">
	<form action='/sessions' method='POST'>
		<label for="email">Email:</label>
		<input type="email" name="email" id="email" /><br>

		<br><label for="password">Password:</label>
		<input type="password" name="password" id="password" /><br>

		<br><input id="log" type="submit" value="Login">
	</div>
	</form>
    <% if(typeof errorMessage !== "undefined") { %>
        <div>
            <dialog open>
                <form method="dialog"><input type="submit" value="X"></form>
                <%= errorMessage %>
            </dialog>
        </div>
   <% } %>
</body>

</html>